/* p{
    text-align: center;
} */
h1{
    text-align: center;
}
h1{
    color: aquamarine;
     text-decoration: overline;
}
h1{font-weight: 100;}
p#one{
    background-color: aqua;
}
/* #one{
    background-color: aquamarine;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */
 
 
 


