h1{
    color: rgb(28, 31, 199);
}
p{
    color: rgb(21, 238, 129);
}
button{ color: pink;
    background-color: aqua;



}
body{
    background-color:   rgb(143, 129, 129);
}
*{
    background-color: aqua;
}