

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #afb9e2;
}


header {
    background: #d8c046;
    padding: 18px;
    text-align: center;
}

header h1 {
    color: #000000;
    margin: 0;
    font-size: 28px;
}


.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}


.card {
    background: #14daec;
    width: 350px;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 0 12px rgba(180, 5, 5, 0.332);
    text-align: left;
}

.product-img {
    width: 100%;
    border-radius: 7px;
}


.card h2 {
    font-size: 30px;
    margin-top: 12px;
}

.desc {
    color: #ffffff;
    font-size: 14px;
}


.price-section {
    margin-top: 10px;
}

.new-price {
    font-size: 18px;
    color: #095309;
    font-weight: bold;
}

.old-price {
    font-size: 14px;
    text-decoration: line-through;
    color: #000000;
    margin-left: 8px;
}
 

.btn {
    width: 100%;
    background: #fdfd16;
    color: rgb(0, 0, 0);
    border: none;
    padding: 12px;
    margin-top: 15px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover {
    background: #0178f7;
}
